.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */

.center{
  text-align: center!important;
}
.left{
  text-align: left!important;
}
.right{
  text-align: right!important;
}
.bold{
  font-weight: bold!important;
}

.margin-horizontal-small{margin: 0 2rem}
.font-zero{font-size: 0px;}
.font-default{font-size: 1rem;}

.fonts-modal-all div{font-size: 10px;text-align: -webkit-center;margin: 0;padding: 0px 0px;}
.fonts-modal-all div i{font-size: 3rem; margin: 6px; display: block}
.select-icon{cursor: pointer}

.margin-right-small {margin-right: 1.5rem;}
.font-medium{font-size: 1.8rem!important}
.margin-bottom-small{margin-bottom: 1rem}
.fa-fw{cursor: copy}
.color-primary{color: #758bd5}

.icon-font{
  font-size: 1.5em;
  text-align: center;
}

.icon-search{
  font-size: 1.3em;
}

input[type="search"]{
  color: #4e5159;
  background-color: #fff;
  background-clip: padding-box;
  border: 2px solid #dfe5f2;
  border-radius: .25rem;
  padding: 4px;
}

.disabled-class{
  border-left: 2px solid rgb(247, 90, 117);
  border-radius: 1px;
  box-shadow: 1px 1px 1px rgb(123, 123, 130);
}

.disabled-class td{
  color:black;
  font-weight: bold;
}

.font-gradient{
  background: linear-gradient(145deg, rgba(46, 155, 174, 0.95) 0%, rgba(152, 119, 234, 0.95) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5em;
}
.font-gradient-logo{
  background: linear-gradient(145deg, rgb(255, 192, 59) 0%, rgb(223, 89, 111) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5em;
}