.main-sidebar {
  background: #2C2E3E;
  color: #fff;
}

.main-header{
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);

  &.logo {
    background: #21222d;
  }
}

.box{
  border-top: 0px;
  box-shadow: 0 1px 15px 1px rgba(69,65,78,.08);
  background-color: #fff;
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header>p{
  color: #2C2E3E;
}

.logo-lg{
  color: #e5ecff;
  font-family: kaushan-script, cursive;
  font-size: 1.25em;
  text-shadow: 1px 1px 1px black;
}

.content-wrapper {
  background-color: #f7f7ff !important;
}

.main-sidebar  a{
  color: #cbcdd6;
  font-weight: 300;
  font-size: 0.9em;
}

.sidebar-menu{
  .treeview-menu{
    background: #2C2E3E;
  }
  .treeview-menu>li>a {
    padding: 0px 5px 5px 21px;
    font-size: 13px;
    color: #b9bfef;
  }
  li:hover>a, .skin-ironforge .sidebar-menu>li.active>a {
    border-left: 3px solid transparent;
    color: #fff;
    background: #21222d;
    border-left-color:#9ba6ff;
  }
}

.label{
  margin: 0 2px;
  line-height: 3.1;
}

.label.label-info{
  background-color: #ffffff !important;
  border: 1px solid #e8e8f1;
  color: rgb(87, 89, 98)!important;
  font-weight: 600;
  box-shadow: 1px 1px 2px rgb(119, 121, 138)!important;;
  font-size: 0.80em;
  padding: 5px 8px;
}

li .activeMenu a{
  color: #fff!important;
  font-weight: bold;
}

@media (min-width: 768px){
  .sidebar-mini.sidebar-collapse .sidebar-menu>li>.treeview-menu {
    padding-top: 0px;
    padding-bottom: 5px;
    border-bottom-right-radius: 4px;
    background: #2c2e3e;
    margin-top: -3px;
  }
}