.content-header{
  padding: 18px;
  background: #fff;
  display: flex;
  align-items: center;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);

  .icon-header{
    font-size: 1.3em;
    margin: 0 6px;
  }
  h1 {
    margin: 0;
    font-size: 24px;
    color: rgba(44, 46, 62, 0.7411764705882353);
    font-weight: 600;
  }

  /*BreadCrumb*/
  .breadcrumb{
    background: transparent;
    box-shadow: -3px 2px 1px #edf1f5;
    display: flex;
    a{
      margin: 0 8px;
      color: #69696d;
    }
    li.active{
      color: #758bd4;
      font-weight: 600;
    }
  }

}