$theme1: #4267b2!important;
$theme2: linear-gradient(-45deg, rgb(230, 92, 230), rgb(122, 82, 204) 100%)!important;
$theme3: linear-gradient(-45deg, #FFC796 0%, #FF6B95 100%)!important;
$theme4: linear-gradient(#1EA69A,#2facae)!important;
$theme5: #fff!important;

@mixin theme($name, $bg, $color, $btns:null, $secondaryColor:null, $topbar:null) {
  .#{$name} {
    #main-wrapper {
      .left-sidebar {
        background: $bg;
        ul.first-level.in{
          background: $bg;
          filter: brightness(0.90);
        }
      }
    }
    #sidebarnav{
      background: transparent!important;
      .sidebar-link{
        opacity: 1;
        color: $color;
        &:hover{
          @if ($topbar != null) {
            background: rgba(148, 143, 236, 0.07)!important;
            border-left: 2px solid $secondaryColor!important;
          }
        }
        i{
          @if ($topbar != null) {
            color: $secondaryColor;
          }@else{
            color: $color;
          }
        }
      }
    }

    @if($topbar == null) {
      .user-conf-bg,.navbar-brand {
        background: $bg;
      }
      .next-schedule-card-header{
        background: $bg;
      }
    }@else{
      .user-conf-bg, .navbar-brand {
        background: $secondaryColor!important;
      }
      .next-schedule-card-header{
        background: $secondaryColor!important;
      }
    }
    @if $topbar != null{
      #navbarSupportedContent{
        background: $secondaryColor!important;
      }
      a.pro-pic{
        span{
          color: #fff;}
      }
      #openTag{
        font-size: 15px;
        background: transparent;
        border: 0px;
        color: white;
      }
      #nav-bar-left .input-group-text{
        background: transparent;
        border: 0;
        color: white;
        font-size: 1.5em;
      }
    }@else {
      .btn-primary{
        background: $bg;
        border: 0;
        &:hover{
          transform: scale(1.1);
          transition: 0.3s;
        }
      }
    }

    @if($btns != null){
      .fc-button-primary:not(:disabled).fc-button-active, .fc-button-primary:not(:disabled):active, .fc-button-primary:disabled{
        background: $btns!important;
        border-color: $btns!important;
      }
    }
  }
}

@include theme(theme1, $theme1, #fff, rgba(66, 103, 178, 0.73));
@include theme(theme2, $theme2, #fff, rgb(143, 84, 209));
@include theme(theme3, $theme3, #fff, rgb(255,138,101));
@include theme(theme4, $theme4, #fff, #607d8b);
@include theme(theme5, $theme5, rgba(12, 27, 61, 0.54),null, #948fec, 1);


/*List colors*/

.color-list {
    ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 20px;
      li{
        margin-top: 10px;
        margin-right: 5px;
        span{
          width: 25px;
          height: 25px;
          border-radius: 50%;
          border: 3px solid #dfdfdf;
          display: block;
          cursor: pointer;
          &.theme1{
            background: $theme1;
          }
          &.theme2{
            background: $theme2;
          }
          &.theme3{
            background: $theme3;
          }
          &.theme4{
            background: $theme4;
          }
          &.theme5{
            background: $theme5;
          }

          &.default-theme{
           background: #233242;
          }
        }
      }
  }
}

